/*
  ========================================
  Contact Info Section 
  ========================================
*/

.contact-info {
	background-color: #ffffff;
	padding: 0 20px;
	border: 1px solid #dddddd;
	display: inline-block;
	margin-bottom: 100px;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}

/*
  ========================================
  Contact Form
  ========================================
*/

form {
	margin-bottom: 20px;
}

.contact-form {
	text-align: left;
}

.contact-form label {
	color: gray;
  	cursor: pointer;
  	font-weight: 400px;
  	font-size: 18px;
}

.contact-form input,
.contact-form textarea {
 	border: 1px solid #c6c9cc;
 	border-radius: 5px;
 	display: block;
 	margin: 5px 0 27px 0;
	padding: 5px 8px;  	
	margin-bottom: 10px;
}

.input-text,
.input-email {
	width: 600px;
	height: 35px;
	font-size: 14px;
}

.contact-form textarea {
	height: 200px;
	width: 600px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.button-default {
	width: 150px;
	color: white;
	background-color: #4aaaa5;
	height: 50px;
	font-size: 20px;
}

/*
  ========================================
  980 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 980px) {

	body {
		background-color: #ffffff;
		margin: 0;
	}

	/*
 	==========================
  	Main Content Area
  	==========================
	*/

	.content-area {
		width: auto;
	}
	
	/*
  	==========================
  	Contact Info
  	==========================
	*/

	.contact-info {
		width: 440px;
	}
	
	/*
  	===========================
  	Contact Form
  	===========================
	*/

	.contact-form {
		width: 100%;
		padding-bottom: 10px;
	}
	
	.contact-form textarea,
	.input-text,
	.input-email {
		width: 100%;
	}
}

/*
  ========================================
  768 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 768px) {

	body {
		background-color: #ffffff;
		margin: 0;
	}

	/*
 	==========================
  	Main Content Area
  	==========================
	*/

	.content-area {
		width: 100%;
	}

	/*
  	==========================
  	Contact Info
  	==========================
	*/

	.contact-info {
		width: 95%;
		margin: 0 10px;
		padding: 0 30px;
	}

}

/*
  ========================================
  640 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 640px) {
	
	body {
		background-color: #ffffff;
		margin: 0;
	}
	
	/*
  	==========================
  	Contact Info
  	==========================
	*/
	.contact-info {
		width: 90%;
	}

}



