

/*
  ========================================
  All About Me and Contact Info Section 
  ========================================
*/

.contact-info {
	color: #4aaaa5;
	background-color: #ffffff;
	width: 650px;
	padding: 0 20px;
	border: 1px solid #dddddd;
	display: inline-block;
	margin-bottom: 100px;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}

/*
  ========================================
  Contact Form
  ========================================
*/


form {
	margin-bottom: 20px;
}

.contact-form {
	text-align: left;
}

.contact-form label {
	color: gray;
  	cursor: pointer;
  	font-weight: 400px;
  	font-size: 18px;
}

.contact-form input,
.contact-form textarea {
	font-size: 14px;
 	border: 1px solid #c6c9cc;
 	border-radius: 5px;
 	display: block;
 	margin: 5px 0 27px 0;
	padding: 5px 8px;  	
	margin-bottom: 10px;
}

.input-text,
.input-email {
	width: 600px;
	height: 35px;
}

.contact-form textarea {
	height: 200px;
	width: 600px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.button-default {
	width: 150px;
	color: white;
	font-size: 18px;
	padding-bottom: 5px;
	background-color: #4aaaa5;
	display: inline-block;
	height: 50px;
}




