

/*
  ========================================
  All About Me and Contact Info Section 
  ========================================
*/

.contact-info {
	color: #4aaaa5;
	background-color: #ffffff;
	width: 650px;
	padding: 0 20px;
	border: 1px solid #dddddd;
	display: inline-block;
	margin-bottom: 100px;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}

/*
  ========================================
  Contact Form
  ========================================
*/


form {
	margin-bottom: 20px;
}

.contact-form {
	text-align: left;
}

.contact-form label {
	color: gray;
  	cursor: pointer;
  	font-weight: 400px;
  	font-size: 18px;
}

.contact-form input,
.contact-form textarea {
	font-size: 14px;
 	border: 1px solid #c6c9cc;
 	border-radius: 5px;
 	display: block;
 	margin: 5px 0 27px 0;
	padding: 5px 8px;  	
	margin-bottom: 10px;
}

.input-text,
.input-email {
	width: 600px;
	height: 35px;
}

.contact-form textarea {
	height: 200px;
	width: 600px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.button-default {
	width: 150px;
	color: white;
	font-size: 18px;
	padding-bottom: 5px;
	background-color: #4aaaa5;
	display: inline-block;
	height: 50px;
}

/*
  ========================================
  980 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 980px) {

	body {
		background-color: #ffffff;
		margin: 0;
	}

	/*
  	==========================
  	header styles
  	==========================
	*/
	
	.header-container {
		width: 100%;
		display: block;
	}

	h1 {
		padding: 30px 0;
		font-size: 28px;
		margin: 0 20px;
		width: 300px;
		margin-left: 85px;
	}

	/*
  	==========================
  	nav
  	==========================
	*/
	
	.primary-nav {
		margin-right: 100px;
	}

	/*
 	==========================
  	Main Content Area
  	==========================
	*/

	.content-area {
		width: 900px;
	}
	
	/*
  	==========================
  	Contact Info
  	==========================
	*/

	.contact-info {
		width: 440px;
		margin-left: 50px;
	}

	h2 {
		color:#4aaaa5;
	}
	
	/*
  	===========================
  	Contact Form
  	===========================
	*/

	#contact-form {
		width: 100%;
		padding-bottom: 10px;
	}
	
	.contact-form textarea,
	.input-text,
	.input-email {
		width: 100%;
	}

	/*
  	===========================
  	Online Profile 
 	===========================
	*/

	.online-profile {
		margin: 0 70px;
	}
}

/*
  ========================================
  768 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 768px) {

	body {
		background-color: #ffffff;
		margin: 0;
	}

	/*
  	==========================
  	header styles
  	==========================
	*/
	
	.header-container {
		width: 100%;
		display: block;
	}

	h1 {
		padding: 30px 0;
		font-size: 28px;
		margin: 0 20px;
		width: 300px;
	}

	/*
  	==========================
  	nav
  	==========================
	*/
	
	.primary-nav {
		margin-right: 20px;
	}

	/*
 	==========================
  	Main Content Area
  	==========================
	*/

	.content-area {
		width: 100%;
	}

	/*
  	==========================
  	Contact Info
  	==========================
	*/

	.contact-info {
		width: 728px;
		margin: 0 10px;
		padding: 0 30px;
	}

	h2 {
		color:#4aaaa5;
	}
	
	/*
  	===========================
  	Contact Form
  	===========================
	*/

	#contact-form {
		width: 300px;
	}

	.contact-form textarea,
	.input-text,
	.input-email {
		width: 100%;
	}

	/*
  	===========================
  	Online Profile 
 	===========================
	*/

	.online-profile {
		float: none;
		width: 728px;
		border: 1px solid #dddddd;
		text-align: left;
		margin: 35px 20px;
	}

	.online-profile img {
		margin-bottom: 20px;
		margin-right: 10px;
	}

	h3 {
		text-align: left;
		font-size: 24px;
	}

	/*
  	===========================
 	Image tag style
  	===========================
	*/

	img {
		width: 60px;
	}
}

/*
  ========================================
  640 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 640px) {
	

	body {
		background-color: #ffffff;
		margin: 0;
	}
	
	/*
  	==========================
  	header styles
  	==========================
	*/
	
	.header-container {
		width: 100%;
		display: block;
	}

	h1 {
		padding: 30px 0;
		font-size: 28px;
		margin: 0;
		width: 100%;
	}

	/*
  	==========================
  	nav
  	==========================
	*/

	nav {
		float: none;
		margin-top: 0;
	}

	ul {
		width: 100%;
		display: inline-flex;
		padding: 30px 0;
	}

	.primary-nav li {
		padding: 0 70px;
	}

	/*
 	==========================
  	Main Content Area
  	==========================
	*/

	.content-area {
		width: 100%;
	}
	
	/*
  	==========================
  	Contact Info
  	==========================
	*/
	.contact-info {
		width: 600px;
		margin: 0 10px;
		padding: 0 30px;
	}

	h2 {
		color:#4aaaa5;
	}

	/*
  	===========================
  	Contact Form
  	===========================
	*/

	#contact-form {
		width: 540px;
		margin: 0 0 20px 0;
	}

	.contact-form textarea,
	.input-text,
	.input-email {
		width: 100%;
	}

	/*
  	===========================
  	Online Profile 
 	===========================
	*/

	.online-profile {
		float: none;
		width: 600px;
		border: 1px solid #dddddd;
		text-align: left;
		margin: 35px 20px;
	}

	.online-profile img {
		margin-bottom: 20px;
		margin-right: 10px;
	}

	h3 {
		text-align: left;
		font-size: 24px;
	}

	/*
  	===========================
 	Image tag style
  	===========================
	*/

	img {
		width: 60px;
	}
}



