
/*
  ========================================
  Portfolio Info Section 
  ========================================
*/

.portfolio-info {
	color: #4aaaa5;
	background-color: #ffffff;
	width: 650px;
	padding: 0 20px;
	border: 1px solid #dddddd;
	display: inline-block;
	margin-bottom: 100px;
}


h2 {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}

/*
  ========================================
  Porfolio Section
  ========================================
*/

#cooking-image,
#baking-image,
#pets-image,
#coding-image,
#games-image {
	width: 250px;
	height: 200px;
	margin-bottom: 50px;
}

.cooking-text,
.baking-text,
.pets-text,
.coding-text,
.gaming-text {
	color: white;
	position: absolute;
	background-color: #4aaaa5;
	font-size: 18px;
	padding-top: 15px;
	height: 50px;
	width: 250px;
	transform: translateY(140px);
}

.portfolioList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.portfolioList div:nth-child(odd) {
	margin-left: 30px;
	margin-right: 45px;
}

/*
  ========================================
  980 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 980px) {

	body {
		background-color: #ffffff;
		margin: 0;
	}

	/*
  	==========================
  	header styles
  	==========================
	*/
	
	.header-container {
		width: 100%;
		display: block;
	}

	h1 {
		padding: 30px 0;
		font-size: 28px;
		margin: 0 20px;
		width: 300px;
		margin-left: 85px;
	}

	/*
  	==========================
  	nav
  	==========================
	*/
	
	.primary-nav {
		margin-right: 100px;
	}

	/*
 	==========================
  	Main Content Area
  	==========================
	*/

	.content-area {
		width: 900px;
	}

	/*
  	==========================
  	Portfolio Info
  	==========================
	*/

	.portfolio-info {
		width: 440px;
		margin-left: 50px;
	}

	h2 {
		color:#4aaaa5;
	}

	/*
  	===========================
  	Portfolio List
  	===========================
	*/

	.about-me-cooking,
	.about-me-baking,
	.about-me-pets,
	.about-me-coding,
	.about-me-games {
		width: 100%;
	}

	.portfolioList div:nth-child(odd) {
		margin-left: 0;
		margin-right: 0;
	}
	
	.cooking-text,
	.baking-text,
	.pets-text,
	.coding-text,
	.gaming-text {
		width: 398px;
		transform: translateY(240px);
	}

	#cooking-image,
	#baking-image,
	#pets-image,
	#coding-image,
	#games-image {
		width: 100%;
		height: 300px;
	}
}

/*
  ========================================
  768 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 768px) {

	body {
		background-color: #ffffff;
		margin: 0;
	}

	/*
  	==========================
  	header styles
  	==========================
	*/
	
	.header-container {
		width: 100%;
		display: block;
	}

	h1 {
		padding: 30px 0;
		font-size: 28px;
		margin: 0 20px;
		width: 300px;
	}

	/*
  	==========================
  	nav
  	==========================
	*/
	
	.primary-nav {
		margin-right: 20px;
	}

	/*
 	==========================
 	Main Content Area
  	==========================
	*/

	.content-area {
		width: 100%;
	}

	/*
  	==========================
  	Portfolio Info
  	==========================
	*/

	.portfolio-info {
		width: 728px;
		margin: 0 10px;
		padding: 0 30px;

	}

	h2 {
		color:#4aaaa5;
	}

	/*
  	===========================
  	Portfolio List
  	===========================
	*/

	.about-me-cooking,
	.about-me-baking,
	.about-me-pets,
	.about-me-coding,
	.about-me-games {
		width: 305px;
	}

	#cooking-image,
	#baking-image,
	#pets-image,
	#coding-image,
	#games-image {
		width: 305px;
		height: 250px;
		margin-bottom: 50px;
	}

	.cooking-text,
	.baking-text,
	.pets-text,
	.coding-text,
	.gaming-text {
		width: 305px;
		transform: translateY(190px);
	}

	.portfolioList div:nth-child(odd) {
		margin-left: 0px;
		margin-right: 45px;
	}
}

/*
  ========================================
  640 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 640px) {
	

	body {
		background-color: #ffffff;
		margin: 0;
	}
	
	/*
  	==========================
  	header styles
  	==========================
	*/
	
	.header-container {
		width: 100%;
		display: block;
	}

	h1 {
		padding: 30px 0;
		font-size: 28px;
		margin: 0;
		width: 100%;
	}

	/*
  	==========================
  	nav
  	==========================
	*/

	nav {
		float: none;
		margin-top: 0;
	}

	ul {
		width: 100%;
		display: inline-flex;
		padding: 30px 0;
	}

	.primary-nav li {
		padding: 0 70px;
	}

	/*
 	==========================
  	Main Content Area
  	==========================
	*/

	.content-area {
		width: 100%;
	}
	
	/*
  	==========================
  	Portfolio Info
  	==========================
	*/
	.portfolio-info {
		width: 600px;
		margin: 0 10px;
		padding: 0 30px;
	}

	h2 {
		color:#4aaaa5;
	}

	/*
  	===========================
  	Portfolio List
  	===========================
	*/

	.about-me-cooking,
	.about-me-baking,
	.about-me-pets,
	.about-me-coding,
	.about-me-games {
		width: 100%;
	}

	.portfolioList div:nth-child(odd) {
		margin-left: 0;
		margin-right: 0;
	}
	
	.cooking-text,
	.baking-text,
	.pets-text,
	.coding-text,
	.gaming-text {
		width: 538px;
		transform: translateY(290px);
	}

	#cooking-image,
	#baking-image,
	#pets-image,
	#coding-image,
	#games-image {
		width: 100%;
		height: 350px;
	}
}


