/*
  ========================================
  Portfolio Info Section 
  ========================================
*/

.portfolio-info {
    background-color: #ffffff;
    padding: 0 20px;
    border: 1px solid #dddddd;
    display: inline-block;
    margin-bottom: 100px;
    width: 650px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
}


/*
  ========================================
  Porfolio Section
  ========================================
*/

.homework-image {
    width: 250px;
    height: 200px;
    margin-bottom: 50px;
}

.homework-text {
    color: white;
    position: absolute;
    background-color: #4aaaa5;
    font-size: 18px;
    padding-top: 15px;
    height: 50px;
    width: 250px;
    transform: translateY(140px);
}

.portfolioList {
    display: flex;
    flex-wrap: wrap;
}

.portfolioList div:nth-child(odd) {
    margin-left: 30px;
    margin-right: 45px;
}


/*
  ========================================
  980 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 980px) {
    body {
        background-color: #ffffff;
        margin: 0;
    }
    /*
 	==========================
  	Main Content Area
  	==========================
	*/
    .content-area {
        width: auto;
    }
    /*
  	==========================
  	Portfolio Info
  	==========================
	*/
    .portfolio-info {
        width: 440px;
    }
    /*
  	===========================
  	Portfolio List
  	===========================
	*/
    .homework {
        width: 100%;
    }
    .portfolioList div:nth-child(odd) {
        margin-left: 0;
        margin-right: 0;
    }
    .homework-text {
        width: 398px;
        transform: translateY(240px);
    }
    .homework-image {
        width: 100%;
        height: 300px;
    }
}


/*
  ========================================
  768 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 768px) {
    body {
        background-color: #ffffff;
        margin: 0;
    }
    h2 {
        margin-bottom: 0;
    }
    /*
 	==========================
 	Main Content Area
  	==========================
	*/
    .content-area {
        width: 100%;
    }
    /*
  	==========================
  	Portfolio Info
  	==========================
	*/
    .portfolio-info {
        width: 95%;
        padding-bottom: 50px;
    }
    /*
  	===========================
  	Portfolio List
  	===========================
	*/
    .homework {
        width: 45%;
    }
    .homework-image {
        width: 100%;
        height: 200px;
        margin-bottom: 0;
    }
    .homework-text {
        display: block;
        position: relative;
        width: 100%;
        transform: translateY(190px);
    }
    .portfolioList div:nth-child(odd) {
        margin-left: 0px;
        margin-right: 45px;
    }
}


/*
  ========================================
  640 Screen Size Media Query
  ========================================
*/

@media screen and (max-width: 640px) {
    body {
        background-color: #ffffff;
        margin: 0;
    }
    /*
  	==========================
  	Portfolio Info
  	==========================
	*/
    .portfolio-info {
        width: 90%;
    }
    /*
  	===========================
  	Portfolio List
  	===========================
	*/
    .homework {
        width: 100%;
        height: 400px;
    }
    .portfolioList div:nth-child(odd) {
        margin-left: 0;
        margin-right: 0;
    }
    .homework-text {
        display: block;
        position: relative;
        width: 100%;
        transform: translateY(330px);
    }
    .homework-image {
        width: 100%;
        height: 350px;
    }
}